.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

#start-div {
  padding-block-start: 0;
  display: flex;
  margin-left: 42%;  
}

button[id=start] {
    width:10em;
    border:0;
    background-color: white;
    font-weight: 600;
    font-family: 'Lobster', cursive;
    border-radius: 3px;
}

button[id=start]:hover {
  border:2px solid lime;
}

button[class=roll] {
  margin-top: 2em;
  margin-left: 44%;
  width: 7em;
  height: 3em;
  border-radius: 5px;
  border:0;
  font-family: 'Lobster', cursive;
  font-size: 1.3em;
  background-color: lime;
  display: none;
}

button[id=quit] { 
  background-color: red;
  margin-top: 0.5em;
}

.fa.fa-angle-double-left, .fa.fa-angle-double-right {
  font-size: 45px;
  color:lime;
}


/* The Modal (background) */
.confirm {
  display: none;  /*Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.confirm-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 35%; 
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close2 {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close2:hover,
.close2:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.confirm-header {
  padding: 2px 16px;
  background-color: crimson;
  color: white;
}

.confirm-body {
    padding: 0.2em 1em;
  }

  .confirm-body2 {
      padding: 2px 16px;
      display: flex;
      margin-left:10%;
      margin-bottom: 1.5em;
    }
  button#yes, button#no {
      margin-left: 2%;
      width:5em;
      height:3em;
      border: 0;
      color:white;
      font-size: 1.1em;
      font-weight: 600;
  }

  button#yes {
      background-color: green;   
  }

  button#no {
      background-color: red;
  }

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
